<html>
    <head>
        <title>Track a ticket</title>
        <style type="text/css">
            .trackaticket dt { font-weight: bold; }
        </style>
    </head>
    <body>
        <h1>Track a ticket</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et est eu tellus feugiat ultrices. Morbi eu eros sit amet est posuere rhoncus eget et enim. Mauris viverra, orci et vehicula elementum, augue ex dignissim dui, a pretium elit urna nec nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras tristique eros massa, aliquam ornare tortor facilisis vitae. Phasellus bibendum maximus dapibus. Nunc iaculis ac sapien a sollicitudin. Cras ante dui, lobortis a enim nec, vulputate euismod neque. Aenean ac elit ut enim convallis dignissim sit amet sed est. Etiam sit amet magna id mauris tristique pellentesque. Aenean vestibulum nunc eros, sed vestibulum velit ultrices non. Aliquam euismod in ex ut auctor. Aliquam euismod imperdiet lacus sed luctus. Etiam a nulla quis neque egestas interdum a et nibh.</p>
        <div id="tracker"></div>
        
        <script data-template="search" type="text/template">
            <div class="trackaticket">
                <form>
                    <input type="text">
                    <button type="submit">Search</button>
                </form>
                <div></div>
            </div>
        </script>
        <script data-template="result" type="text/template">
            <dl>
                <dt>ID</dt>
                <dd><%= service_request_id %></dd>
                <dt>Type</td>
                <dd><%= service_name %></dd>
                <dt>Department</dt>
                <dd><%= agency_responsible %></dd>
                <dt>Address</dt>
                <dd><%= address %>
                <dt>Status</dt>
                <dd><%= status %>
                <dt>Resolution</dt>
                <dd></dd>
            </dl>
        </script>
        <script data-template="error" type="text/template">
            <span class="error">Ticket #<b><%= ticketId %></b> was not found</span>
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/button.min.js"></script>
        <script data-container="tracker" src="trackaticket.js"></script>
    </body>
</html>